   <h1> contact us</h1>
    <p>ini halaman contact us</p>
    <div class="row">
        <div class="col-sm-6">
<h2>Gmail</h2>
<div class=fieldss style="border: solid  black 2px; width: 700px;">jovan</div>
<h2>nama</h2>
<div class=fieldss style="border: solid  black 2px; width: 700px;">jovan</div>
<h2>whatsapp</h2>
<div class=fieldss style="border: solid  black 2px; width: 700px;">jovan</div>
<h2>tempat</h2>
<div class=fieldss style="border: solid  black 2px; width: 700px;">jovan</div>
<h2></h2>
<div class=fieldss style="border: solid  black 2px; width: 700px;">jovan</div>
</div>

<img src="../img/wildwest.jpg" width="100%" height="200px">
</div>